body {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 20px;
  background-color: hsl(0, 0%, 95%);
}

h1 {
  letter-spacing: 0.5px;
  font-family: Big Shoulders Display, cursive;
  font-size: 4rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  padding: 0px 10px 0px 20px;
  margin: 20px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: Lexend Deca, sans-serif;
  font-size: 1.3rem;
  line-height: 30px;
  padding: 15px;
  margin: 0 25px 25px 25px;
  height: 60%;
}

button {
  border-radius: 30px;
  padding: 15px;
  margin: 40px;
  border-style: hidden;
  background-color: hsl(0, 0%, 95%);
  width: 140px;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
}

button:hover {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.learn-button {
  font-weight: bold;
}

.button-orange {
  color: hsl(31, 77%, 52%);
}

.button-teal {
  color: hsl(184, 100%, 22%);
}

.button-darkgreen {
  color: hsl(179, 100%, 13%);
}

.card-first {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 10px 0 0;
}

.card-second {
  background-color: hsl(184, 100%, 22%);
}

.card-third {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 10px 10px;
}

.sedans-icon {
  background-image: url(images/icon-sedans.svg);
  width: 80px;
  height: 50px;
  background-size: contain;
}

.suvs-icon {
  background-image: url(images/icon-suvs.svg);
  width: 80px;
  height: 50px;
  background-size: contain;
}

.luxury-icon {
  background-image: url(images/icon-luxury.svg);
  width: 80px;
  height: 50px;
  background-size: contain;
}

.car-icons {
  padding: 20px 0 0 40px;
  margin: 30px 0 30px 0;
}

@media screen and (min-width: 850px) {
  body {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    width: 1000px;
    margin: auto;
    inset: 0;
  }

  .card-container {
    display: flex;
    flex-direction: row;
  }
  .card-first {
    border-radius: 10px 0 0 10px;
  }
  .card-third {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
}
